/* src/components/Navbar.css */
body{
  margin: 0;
  background: #f4f4f4;
}
html{
  scroll-behavior: smooth;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar {
  background: #ffffff;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: background 0.3s ease;
}

.scroll-navbar {
  background: #ffffffaf;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%; /* Mengatur agar navbar container mengikuti tinggi navbar */
  z-index: 1;
}
  
  .navbar-logo {
    color: #5e5e5e;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .menu-icon {
    display: none;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #363636;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0rem 1rem;
    height: 80px;
    transition: 0.3s ease;
  }
  
  .nav-links:hover {
    border-bottom: 3px solid #04aa3b;
    color: #04aa3b;
  }

  .btn-fileCV{
    background-color: #04aa3b; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  .btn-fileCV:hover{
    background-color: #25cf5e;
  }

  .icon-language{
    border: none;
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }

  .icon-fileCV{
    background-color: #04aa3b; /* Green */
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  .icon-fileCV:hover{
    background-color: #25cf5e;
  }

  .dropdown-menu {
    position: absolute;
    background-color: white;
    color: black;
    list-style: none;
    padding: 10px;
    margin-left: 35%;
    margin-top: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1000;
  }
  
  .dropdown-item {
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 3px;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }

  /* src/components/Hero.css */

.hero-container {
  width: 100%;
  height: 90vh;
  background-image: url('../assets/jabat-tangan.jpg');
  background-size: cover;
  text-align: center;
  margin-top: -20px;
}

.hero-content{
  background-color: #050314d0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-content h1{
  font-size: 5vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: #04aa3b; 
}

.hero-content span{
  color: white;
}

.hero-content h3{
  font-size: 2vw;
  font-weight: bold;
  color: white; 
}

.hero-content button{
  background-color: #04aa3b; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
.hero-content button:hover{
  background-color: #25cf5e;
}


/* src/components/About.css */

.about-container {
  /* padding: 4rem 2rem; */
  text-align: center;
}

.about-container h1{
  font-size: 3.5vw;
  font-weight: bold;
  color: #615656;
}

.about-container p {
  margin: 1rem 0;
  font-size: 1.5vw;
}

.about-sub1{
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  padding: 4rem 2rem;
  align-items: end;
}
.about-sub1 h2{
  font-size: 5vh;
  text-align: left;
}
.about-sub1 p{
  text-align: left;
  text-indent: 50px;
  font-size: 3.5vh;
  color: #615656;
}

.about-sub2{
  padding: 20px;
}

.about-sub3{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  background-color: #1a1a1a;
  color: white;
  padding: 4rem 2rem;
}
.about-sub3 h1{
  color: white;
}
.about-sub3-desc{
  width: 100%;
  text-align: left;
}
.about-sub3 p{
  font-size: 2.7vw;
}
.about-sub3-desc button{ 
  border: 2px solid white;
  background-color: #1a1a1a;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}
.about-sub3-desc button:hover{
  background-color: #04aa3b;
}

.about-sub3-img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.about-sub3-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* news */

.news-container{
  text-align: center;
  padding: 10px;
}
.news-container h1,p{
  color: #615656;
}
.news-container h1{
  font-size: 3.5vw;
}

.card-news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card-news {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
  text-align: left;
}

.card-news:hover {
  transform: translateY(-10px);
}

.card-news-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: none;
}

.card-news-content {
  padding: 15px;
}

.card-news-content h2 {
  font-size: 1.5em;
  margin: 0;
}

.card-news-content h1 {
  font-size: 2em;
  margin: 0;
  color: rgb(19, 209, 209);
}


.card-news-content p {
  font-size: 1em;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;/* Ubah ke nowrap jika ingin hanya satu baris, atau normal untuk banyak baris */
  max-height: 3.5em; /* Sesuaikan sesuai dengan jumlah baris yang ingin ditampilkan */
}

.modal-news-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-news-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 1000px;
  width: 100%;
  margin-top: 15vh;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.modal-country-content img{
  width: 100%;
}

.modal-news-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

/* destinasi */

.destinasi-container {
  text-align: center;
  padding: 50px;
}
.carousel{
  width: 100%;
  max-width: 1320px;
}

/* .card-destinasi-container {
  width: 100%;
  max-width: 1320px;
} */
.card-destinasi {
  position: relative;
  cursor: pointer;
  /* Menambahkan jarak horizontal antar card */
}

.card-destinasi-image {
  width: 98%;
  height: auto;
  border-radius: 10px;
}

.hover-country {
  width: 98%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-destinasi:hover .hover-country {
  opacity: 1;
}

.hover-country-text h1 {
  margin: 0;
  font-size: 24px;
}

.modal-country-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-country-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 1000px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btn-modal-country{
  background-color: #04aa3b; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.btn-modal-country-close{
  background-color: white; /* Green */
  border: 2px solid gray;
  color: gray;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.modal-country-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.modal-form-close{
  display: none;
}

/* form default */
.form-default input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-default button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.form-default{
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.form-country{
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.split-form-country{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form-country input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-country button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container-form-default{
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 20%;
  padding: 15px;
  font-size: 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}

.whatsapp-icon:hover {
  background-color: #1ebe57;
}

/* kontak */

#contact{
  width: 100%;
  background-color: rgb(229, 231, 235);
  padding-top: 30PX;
  font-weight: bold;
  padding-bottom: 100px;
  margin: 0;
}

.kontak-container{
  text-align: center;
  margin-top: 50px;
  gap: 10px;
}
.kontak-container h2{
  font-size: 3rem;
}
.kontak-list{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.kontak-list-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 10px;
}

.kontak-list-container a{
  background-color: #25d366;
  color: white;
  border-radius: 20%;
  padding: 15px;
  font-size: 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.container-form-email{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(229, 231, 235);
}

.sub-form-email{
  padding: 10px;
  max-width: 1000px;
  background: #25d366;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.pantek-anjing{
  color: white;
  text-align: center;
}
.pantek-anjing h1{
  font-size: 3rem;
}
.pantek-anjing p{
  font-size: 1.5rem;
  color: white;
  margin-top: -30px;
}
.anjing-pantek{
  display: flex;
  flex-direction: row;
}
.form-email{
  width: 200%;
}
.image-3d {
  width: 90%;
  position: static;
  margin-top: -180px;
  float: right;
}
.form-email div{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form-email input{
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}
.form-email textarea{
  width: 100%;
  padding: 30px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

.form-email button {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 40px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -30vh;
  padding-top: 50vh;
  color: white;
  gap: 50px;
  align-items: first baseline;
}
.footer p{
  color: white;
}
.sub-footer1 img{
  width: 300px;
}
.sub-footer1{
  width: 300px;
}

.sub-footer2{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sub-footer3 a{
  background-color: white;
  color: #25d366;
  border-radius: 50%;
  padding: 5px;
}
  
@media screen and (max-width: 960px) {
  .menu-icon {
    display: block;
    top: 20px;
    right: 20px;
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  .btn-fileCV{
    display: none;
  }
  .icon-fileCV{
    display: block;
    font-size: 20px;
  }
  .icon-language{
    font-size: 20px;
  }

  .navbar-container{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    position: fixed;
    right: 0;
    top: -100%; /* Mengubah posisi awal ke kanan */
    opacity: 1;
    transition: all 0.5s ease;
    border-radius: 10px 0px 0px 10px;
  }

  .nav-menu.active {
    background: #000000;
    top: 60px; /* Mengubah posisi akhir ke kanan */
    transition: all 0.5s ease;
    z-index: -1;
  }

  .nav-item {
    height: 50px;
  }

  .nav-links {
    text-align: center;
    width: 100%;
    display: table;
    padding: 0rem 0rem;
    margin-top: 20px;
    height: auto;
    color: white;
  }

  .nav-links:hover {
    border-radius: 0;
    height: 20px;
  }

  .about-sub1{
    flex-direction: column;
  }
  .about-sub1 img{
    width: 100%;
  }
  .about-sub2 img{
    width: 100%;
  }
  
  .about-sub3-img{
    display: none;
  }
  .about-sub3-desc{
    text-align: center;
  }

  .split-form-country{
    flex-direction: column;
  }
  .form-default{
    width: 100%;
    padding: 10px;
  }
  .kontak-container{
    flex-direction: column;
  }
  .kontak-maps{
    width: 100%;
  }
  .card-destinasi-image{
    width: 100%;
  }
  .image-3d{
    display: none;
  }
  .kontak-list{
    flex-direction: column;
  }
  .footer{
    flex-direction: column;
    padding: 20px;
    padding-top: 50vh;
  }
  .modal-country-content{
    flex-direction: column;
    text-align: center;
    max-width: 40vh;
  }
  .modal-news-content{
    flex-direction: column;
  }
  .modal-news-content img{
    width: 100%;
  }
  .about-container h1{
    font-size: 7vw;
  }
  .about-container p{
    font-size: 3vw;
  }
  .news-container h1{
    font-size: 7vw;
  }
  .news-container p{
    font-size: 3vw;
  }
  .kontak-container h2{
    font-size: 1rem;
  }
}
  