/* src/components/Navbar.css */
body{
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
.navbar {
  background: #ffffff;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: background 0.3s ease;
}

.scroll-navbar {
  background: #8d8d8d59;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%; /* Mengatur agar navbar container mengikuti tinggi navbar */
  z-index: 1;
}
  
  .navbar-logo {
    color: #5e5e5e;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .menu-icon {
    display: none;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #5e5e5e;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0rem 1rem;
    height: 80px;
  }
  
  .nav-links:hover {
    border-bottom: 2px solid #5e5e5e;
  }

  .btn-fileCV{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }

  .icon-language{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }

  .icon-fileCV{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }

  /* src/components/Hero.css */

.hero-container {
  height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 80px;
}

.hero-container h1 {
  font-size: 3rem;
}

.hero-container p {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.hero-container button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background: #1888ff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.hero-container button:hover {
  background: #0056b3;
}

/* src/components/About.css */

.about-container {
  padding: 4rem 2rem;
  background: #f4f4f4;
  text-align: center;
}

.about-container h1 {
  font-size: 2.5rem;
}

.about-container p {
  margin: 1rem 0;
  font-size: 1.2rem;
}

/* src/components/Footer.css */

.footer-container {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

  
@media screen and (max-width: 960px) {
  .menu-icon {
    display: block;
    top: 20px;
    right: 20px;
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  .btn-fileCV{
    display: none;
  }
  .icon-fileCV{
    display: block;
    font-size: 20px;
  }
  .icon-language{
    font-size: 20px;
  }

  .navbar-container{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30vh;
    position: fixed;
    top: 50px;
    right: -100%; /* Mengubah posisi awal ke kanan */
    opacity: 1;
    transition: all 0.5s ease;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 5px 10px 18px #888888;
  }

  .nav-menu.active {
    background: #ffffff;
    right: 0; /* Mengubah posisi akhir ke kanan */
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item {
    height: 50px;
  }

  .nav-links {
    text-align: center;
    width: 100%;
    display: table;
    padding: 0rem 0rem;
    margin-top: 20px;
    height: auto;
  }

  .nav-links:hover {
    border-radius: 0;
    height: 20px;
  }
}
  